.header-bg {
   background-image: url(http://getwallpapers.com/wallpaper/full/7/c/6/765090-most-popular-technology-background-images-1920x1080-hd-for-mobile.jpg);
  background-size: cover;
  min-height: 100vh;
}

.shadow-text {
  text-shadow: -10px -10px 10px black,
   -20px -20px 15px black, -30px -30px 20px black, -5px -5px 5px black;
}

.shadow-box {
  box-shadow: -6px -6px 10px black, -7px -7px 20px white;
}

.fill-bg {
  background-color: rgb(58, 50, 50);
    height: 2vh;
}

.footer-bg {
  background-color: red;
  height: 10vh;
}

.body1-bg {
  background-color: #002c18;
}

.body2-bg {
  background-color: #013f72;
}

.body1 {
  height: 45vh;
}

.body2 {
  height: 80vh;
}
.body3 {
  height: 10vh;
}


.link-color {
  color: white!important;
}

.me-pic {
  max-height: 35vh;
  object-fit: cover;
  border-radius:10%;

}
.bg-blue-grad {
  background-image: linear-gradient(#005ca5, #01203c);
  border-radius: 5%
}